@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
}
/*
colors
*/
$color-info: rgb(38, 196, 196);
$color-description: rgb(48, 42, 50);
$color-comodidad: #6739c7;
/*
GENERAL
*/
%pad-top-bot {
  padding-top: 42px;
  padding-bottom: 42px;
}
%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  @extend %pad-top-bot;
}
h1{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding: 7px 14px;
  font-size: 1.8rem;
}
h3 {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 700;
}
body {
  background-image: url(../images/pic05.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: -23vw;
  background-position-y: -17vh;
  background-size: 120vw;
  -webkit-background-size: 120vw;
  -moz-background-size: 120vw;
  -o-background-size: 120vw;
}
p {
  line-height: 1.8;
}
#banner {
  @extend %flex;
  height: 56vh;


  flex-direction: column;
  a.waves-effect.waves-light.btn-large {
    width: 80vw;
  }
}
#info {
  background: $color-info;
  height: 60vh;

  img {
    margin-right: 14px;
    margin-left: 14px;
  }
}
#description {
  background: $color-description;
  padding: 0;
  .row {
    margin-bottom: 0;
    [class*="s12"] {
      @extend %pad-top-bot;
    }
    img {
      padding: 0!important;
    }
  }
}
#comodidad {
  background: $color-comodidad;
  [class*="s12"] {
    @extend %pad-top-bot;
  }
}
#importante {
  background: rgba(255, 255, 255, 0);
  background-image: url(../images/pic05.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
footer {
  @extend %pad-top-bot;
  background: $color-description;
  span {
    font-size: 16px!important;
    margin: 0 11px;
    color: rgb(189, 189, 189);
  }
}
/*
TABLET
*/
@media (min-width: 768px) {
}
/*
laptop
*/
@media (min-width: 992px) {
  #banner {
    height: 100vh;
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

  }

}
/*
computer
*/

@media (min-width: 1200px) {

}
